.project-details {
    box-sizing: border-box;
    border-radius: 10px;
    background-color: #088395;
    cursor: pointer;
}

.details-box {
    border: 0.2rem solid white;
    border-radius: 10px;
    width: 50rem;
    height: 42.5rem;
    text-align: start;
    transition: box-shadow 0.3s ease;
    color: white;
    background-color: #088395;
}

.details-box:hover {
    box-shadow: 0 0 1rem #FBA834;
}

.details-box-title {
    font-size: 1.3rem;
    font-weight: 700;
    margin: 1.5rem;
}

.details-box h4 {
    margin: 0 1.5rem;
    padding-bottom: 1rem;
}

.details-box-description {
    padding-bottom: 0.5rem;
    margin: 0 1.5rem;
    font-size: 0.8rem;
}


.devicon {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}

.devicon>p {
    margin: 0;
}

.devicon i {
    margin: 0.5rem;
    font-size: 1.3rem;
}

.devicon-list {
    border-radius: 10px;
    margin: 0 2rem;
    padding: 0.5rem;
}

.live-site {
    margin: 0 2rem;
}

.live-site>p {
    margin: 0;
    font-size: 0.8rem;
}

.live-link {
    color: #fabd8b;
    font-weight: 700;
    text-decoration: none;
}

.live-link:hover {
    text-shadow: 0 0 0.5rem #FBA834;
}

.img-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 0.2rem solid white;
    background-color: #088395;
    border-radius: 10px;
    transition: box-shadow 0.3s ease;
}

.img-box:hover {
    box-shadow: 0 0 1rem #FBA834;
}

.project-img {
    width: 50rem;
    height: 37rem;
    margin-bottom: 0px;
    /* border-radius: 10px; */
}

.img-details-1 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    font-weight: 700;
}

.img-details-2 {
    margin-top: 0px;
    margin-bottom: 1rem;
    font-size: 1rem;
}

@media (max-width: 1000px) and (orientation: landscape) {
    .details-box {
        width: 42rem;
        height: 37rem;
    }

    .details-box-title {
        font-size: 1.1rem;
    }

    .details-box h4 {
        padding-bottom: 0.6rem;
    }

    .details-box-description {
        font-size: 0.7rem;
    }

    .devicon i {
        font-size: 1.1rem;
    }

    .live-site>p {
        font-size: 0.7rem;
    }


    .project-img {
        width: 42rem;
        height: 32rem;
    }

    .img-details-1 {
        font-size: 1.2rem;
    }

    .img-details-2 {
        font-size: 0.8rem;
    }
}

@media (max-width: 800px) and (orientation: landscape) {
    .details-box {
        width: 37rem;
        height: 32rem;
    }

    .details-box-title {
        font-size: 0.9rem;
    }

    .details-box h4 {
        padding-bottom: 0.5rem;
        font-size: 0.8rem;
    }

    .details-box-description {
        font-size: 0.6rem;
    }

    .devicon i {
        font-size: 1rem;
    }

    .live-site>p {
        font-size: 0.6rem;
    }

    .project-img {
        width: 37rem;
        height: 27rem;
    }

    .img-details-1 {
        font-size: 1.2rem;
    }

    .img-details-2 {
        font-size: 0.8rem;
    }

}

