:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #FFFFFF;
  background-color: #013175;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem;
}

.button-home {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button-next {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
}

h1 {
  font-size: 2rem;
  padding: 0.5rem;
  gap: 3rem 0;
}
